

.form-container {
    border: 1px solid black;
    width: 75vw;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}
h1 {
    margin: 10px;
    font-size:xx-large;
}

.descriptive-paragraph {
    margin: -5px 0px 0px 15px;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
/* label {
    margin-left: 5px;
} */


.ordered-list {
    padding-left: 10px;
    margin: 5px 0px;
    /* counter-reset: section;
    list-style-type: none;   */
}

/* .list-item::before {
    counter-increment: section;
    content: counter(section) ".";
} */
.list-item {
    /* display: flex;
    align-items: center;
    height: 30px;
    justify-content: space-between; */
    margin-left: 25px;
  
}

.flex-container-list {
    display: flex;
    height: 30px;
    align-items: center;
}

input {
    margin-left: 5px;
    border: 1px solid #eee;
    padding: 5px;
}
.complete-button {
    color: #ff69b4;
    border: 1px solid #ff69b4;
    background-color: white;
    padding: 5px;
    margin: 2px 5px 2px 0px;
    border-radius: 5px;
}

.delete-button {
    position: absolute;
    border: 0;
    right: 14%;
    background-color: white;

}
.add-form {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 0px 10px;
}
.add-button {
    color: white;
    background-color: #ff1493;
    margin: 5px 0px 10px 5px;
    border: 0;
    padding: 10px;
    border-radius: 2px;
}



.strikethrough {
    text-decoration: line-through;
}